body{
    background: #dcdcdc;
    background: url("/assets/images/grey-background.jpg");
    background-repeat: repeat;
}
.container {
    padding-bottom: 20px;
    padding-top: 20px;
    color: #4b4b4b;
    font-size: 16px;
}

.container-login  {
    background: #fff;
    padding-bottom: 20PX;
    padding: 25px 30px;
    border: 1px solid rgb(25, 69, 114);
    border-width: 0 1px 4px 1px;
}

a {
    color: #194572;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #154474;
    border-color: #154474;
}

pre.sf-dump .sf-dump-compact {
    display: block !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #CCC;
}

.slides_show_content .page-header {
    padding-top: 12px;
}

.slides_show_content .page-header h1 .pull-right {
    margin-top: -1px;
}

.course-decription{
  
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit;
    padding:0 10px; 
    border-bottom:none;
}

#transcript{
	padding-top: 10px; 
	overflow-y: scroll; 
	overflow-x: hidden; 
	height: 329px; 
	background: rgb(196, 196, 196);
}

.navbar {
    margin: 0;
    padding-left: 15px;
    padding-right: 0;
    border-width: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #194572;
}

.no-skin .nav-list > li .submenu > li.active:not(.open) > a {
    background-color: #f1f5f9;
    padding-right: 5px;
}

.main-container:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    max-width: inherit;
    bottom: 0;
    top: 0;
}

.page-content {
    position: relative;
    margin: 0;
}

.course-card {
    background: white;
    box-shadow: 1px 1px 2px black;
    border-bottom: 5px;
    border-color: #194572;
    margin: 10px;
    padding: 0px;
}

.course-card-image {
	padding-top:15px;
    position: relative;
}

.course-card-image > img {
    max-width: 100%;
    position: relative;
}

.completion-medal {
    color: #194572;
    position: absolute;
    top: 28px;
    left: 58%;
    width: 50%;
}

.slide-stats p {
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    border: 1px dotted;
    padding: 5px;
    background: #eee;
}

.slide-stats.col-md-2 {
    padding-right: 0px;
}

/* Completion Ribbon Sizing */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
font-size: 80px;
}

.course-card-title {
    padding: 15px;
    border-top: 10px;
    font-weight: bold;
    position: relative;
}

.course-card-info {
    font-weight: normal;
    padding-top: 12px;
}

/* CHANGE NAVBAR COLLAPSE POINT*/
@media (max-width: 1030px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

}
/*END CHANGE NAVBAR COLLAPSE POINT*/

/**************************************/
/*NAVBAR RECOLOR, CHANGE FROM DEFAULT*/
/* navbar */
.navbar-default {
    background-color: #194572;
    border-radius: 0px;
    border: 1px solid transparent;
}
/* title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li.open > a {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #ffffff !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #ffffff !important;
}

.navbar .navbar-collapse {
    text-align: left;
}

@media (min-width: 1030px) {
    .navbar .navbar-nav > li {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-width: 0 1px 0 0;
    }

    .navbar .navbar-nav > li {
        border: none;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}



/**********************/
/* mobile version */
/**********************/
.navbar-default .navbar-toggle {
    border-color: #4b4b4b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}


/*END NAVBAR RECOLOR*/


/*CHANGE NAVBAR HEIGHT*/
.navbar-nav > li > a {padding-top: 20px; padding-bottom: 20px;font-size: 20px;color: #ffffff;}
.navbar {
    line-height: 0;
}
/*END CHANGE NAVBAR HEIGHT*/


.slides_show:before{
	background:#fff !important;
}

.slides_show_content{	
	width:inherit;
	border:none;
	padding:0px;
}

.showcase-text-1{
font-style: italic;
color: #57A6DE;
}


/** Accordian **/

.panel-heading h4:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  
    content:"\E114";   
    float: right;        
    color: grey;        
    overflow: no-display;
}


.arrow{
    /* symbol for "collapsed" panels */
    content:"\E114";
}
a.accordion-toggle{
    text-decoration: none;
}


.infobox {
    display: inline-block;
    width: initial;
    height: 77px;
}


.project-videos-background h3{
   margin-bottom: 0px;
   line-height: 20px;
   margin-top: 5px;
}
.project-videos-background video{
  margin-top: -10px;
}



p.lead, p {
    font-size: 16px;
    line-height: 2;
}

h1 {
    margin-bottom: 32px;
}

h3 {
    margin-top: 10px;
}

.panel-default {
    margin: 10px;
}

.two-lines {
    line-height: 2;
    height: 6em;  /* max-height would be nicer but is not supported everywhere */
    overflow: hidden;
}

 /**********************/
 /****small screens ****/

@media (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }

    /* public page containers */
    .well, .well-lg {
        border-radius: 0px;
    }

    .online-primer-link {
        border-radius: 10px;
    }

   /* image */
   .img-responsive2 { 
        /* Same as .img-responsive class but w/o display:block */
        max-width: 60%;
        height: auto;
   }

   a.a-img-responsive-50 img {
        max-width: 50%;
        height: auto;
   }


}

.wrapper {
  text-transform: uppercase;
  background: #ececec;
  color: #555;
  cursor: help;
  font-family: "Gill Sans", Impact, sans-serif;
  font-size: 20px;
  padding: 15px 20px;
  position: relative;
  width: 200px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
} 

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
 
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.courses_show .panel-body {
    padding-left: 0px;
    padding-right: 0px;
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
  display: none;
}

.lte8 .wrapper:hover .tooltip {
  display: block;
}

.modal-body {
    position: relative;
    padding: 25px 0px 25px 30px;
}

strong#q {
    padding-bottom: 10px;
    display: block;
    background: #EFF3F8;
    padding: 25px;
    margin-left: -30px;
    margin-top: -25px;
    border-bottom: 1px solid #E4E9EE;
}