/*CENTER NAVBAR LINKS*/
@media (min-width: 768px) { 
  .main-container {
    float: left;
    position: relative;
    left: 50%;
  }
  .fixer-container {=:left;
  }
}
/*END CENTER NAVBAR LINKS*/



h1{
  text-align:center;
  color: #fff;
  text-shadow: 1px 1px 2px #4b4b4b;
  margin-bottom: 25px;
}

h2 {
  color: #1c5185;
  text-shadow: 1px 1px 2px #4b4b4b;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
}

h3 {
  color: #1c5185;
  text-shadow: 1px 1px 2px #4b4b4b;
  padding-bottom: 20px;
  font-size: 30px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-title {
  font-size: 40px;
  font-weight: 600;
}

/*Background classes*/
.landing-page-background {
  background-image: url("../images/landing.png"), url("../images/bk-tile.jpg");
  background-repeat: repeat-x, repeat;
  background-position: top, bottom;
}

.application-materials-background {
  background-image: url("../images/materials.png"), url("../images/bk-tile.jpg");
  background-repeat: repeat-x, repeat;
  background-position: top, bottom;
}

.project-videos-background {
  background-image: url("../images/video.png"), url("../images/bk-tile.jpg");
  background-repeat: repeat-x, repeat;
  background-position: top, bottom;
}

.project-showcase-background {
  background-image: url("../images/showcase.png"), url("../images/bk-tile.jpg");
  background-repeat: repeat-x, repeat;
  background-position: top, bottom;
}
/*End background classes*/

.navbar-nav {
  font-size: 20px;
  float: inherit;
}

.adobe-icon, .checklist-icon {
  float:left;
  padding: 10px;
}

.checklist-icon {
  padding-right: 20px;
}

.form-icon {
  float: left;
  padding: 10px;
}

.landing-bottom-row {
  text-align: center;
}

@media (min-width: 1200px) {
  .landing-bottom-row {
    width: 380px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  .l-b-r-l {
  margin-right: 15px;
  }
}

.landing-bottom-row > img {
  display:block;
  margin: auto;
  padding-bottom: 50px;
}

.well {
  border: none !important;
  box-shadow: none !important;
}

.top-well {
  padding: 100px !important;
}

#footer {
  background-color: #4b4b4b;
  display: block;
  width: 100% !important;
  position:relative;
  bottom:0;
  left:0;
  height: 50px;
  color: #4b4b4b;
}

@media (min-width: 992px) {
  .multi-column {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  }
}

.ending-space {
  height: 300px;
}

.online-primer-link {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center-logo {
  text-align: center;
  padding-bottom: 20px;
}

.showcase-images {
  padding: 20px;
  padding-top: 40px;
}

.a-img-responsive img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .showcase-images {
    padding-left: 0px;
  }
}


.project-showcase-header {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
}

.showcase-section-header {
  padding-top: 40px;
}

.materials-icons {
  padding-right: 30px;
  min-width: 100px;
}

.materials-icons img {
   max-width: 100%;
   height: auto;
}

.materials-2nd-well-text {
  padding-top: 15px;
}

.materials-red-question {
  color: #e44317;
  font-size: 150%;
  font-weight: 500;
}

@media (max-width: 992px) {
  .video {
    padding-top: 20px;
  }
}

.youtube-video {
  width: 100%;
}

@media (min-width: 992px) {
  .videos-second-row {
    padding-top: 30px;
  }
}

.navbar-materials {
  background-color: #C5950D;
}

.navbar-videos {
  background-color: #921A1E;
}

.navbar-showcase {
  background-color: #B76A10;
}

.intro-text {
  font-size: 22px;
}

.materials-intro-text {
  font-size: 16px;
  line-height: 2;
}

.construction {
  text-align: center;
  padding-bottom: 900px;
}


/*.a-img-responsive-40 is responsiveness for the showcase icon */

.a-img-responsive-40 img {
  max-width: 40%;
  height: auto;
  padding: 17px;
}

@media (max-width: 992px) {
  .a-img-responsive-40 img {
    max-width: 40%;
    height: auto;
    padding: 11px;
  }
}


@media (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }

    /* font */
    h2 {
       font-size: 32px;
    }

    h3 {
       font-size: 24px;
    }

    .showcase-section-header {
      padding-top: 0px;
    }

    .intro-text, .materials-intro-text {
      font-size: 16px;
      line-height: 2;
    }


    p.lead, p {
      font-size: 14px;
      line-height: 2;
    }


    .navbar-nav > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 14px;
    }

   
}

@media (max-width: 350px) {

   .a-img-responsive-40 img {
      width: 75px;
      height: auto;
    }
}